.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://images.pexels.com/photos/2058946/pexels-photo-2058946.jpeg') center/cover no-repeat;
}
.login-box {
    background: transparent;
    border: 1px solid white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
}

.login-box h2 {
    margin-bottom: 15px;
    color: white;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background: #4facfe;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

.login-box button:hover {
    background: #00c6ff;
}

.error-msg {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}
